# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Google Drive credentials
secure_transfer/server/credentials.json

# SSL certificates
secure_transfer/server/server.key
secure_transfer/server/server.crt